@charset 'utf-8';

@import 'foundation';
@import 'settings';
@import 'motion-ui';

@import 'util/variables';
@import 'util/utilities';
@import 'util/framework';

@import 'theme';

*, *:before, *:after {box-sizing: border-box;}

body {
  //font-family: 'Open Sans', sans-serif;
  //font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1;
}

.menu .is-active {
  font-weight: bold;
}
// intro skills list
.skills-list {
  @media screen and (min-width:721px) {
    margin-top: 20px;
  }

  li {
    // color: #ddd;
    @media screen and (min-width:721px) {
      margin-top: 10px;
    }
  }
}

// OLD CSS

// Logo
// ===============
.logo {
  float: left;

  .logo_svg {
    display: block;
    max-width: 180px;
    max-height: 84px;
    fill: white;
    transition: 0.7s all;
    overflow: visible !important;

    .menu-fixed & {
      max-width: 135px;
      max-height: 64px;
      fill: black;
      margin-top: 5px;
    }
  }
}

// Menu
// ===============
nav {

  ul {
    margin: 0;

    @include breakpoint(large) {
      float: right;
    }
  }

  li {
    list-style: none;

    @include breakpoint(large) {
      float: left;
      display: inline;
    }
  }

  a {
    &,
    &:visited,
    .hamburger {
      color: #fff;
      display: block;
      text-transform: uppercase;
      text-decoration: none;
      padding: 30px 25px 10px;
      transition: 0.3s padding;

      @include breakpoint(large) {
        display: inline-block;
      }

      .menu-fixed & {
        color: #000;
      }
    }

    &:hover,
    &.is-active {

      &,
      .menu-fixed & {
        // background: #75a6d9;
        // border-bottom: 3px solid #75a6d9;
        color: #75a6d9;
        text-decoration: underline;
      }
    }

    &.menu_item {
      @include breakpoint(medium down) {
        color: #000;
      }
    }
  }
}

// Hamburger menu
// ===============
.hamburger {
  float: right;
  @include breakpoint(large) {
    display: none !important;
  }

  span {
    display: inline-block;
    width: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  &:before {
    content: '\2630';
    font-size: 2em;
  }
  .menu-fixed & {
    padding: 20px;
  }
}

// Layout
// ===============

// .o-layout__footer {
//   background: url('/assets/img/footer-bg.png') center bottom no-repeat;
//   background-size: 100% auto;
// }

header {
  position: fixed;
  top: 0;
  width: 100%;
  // padding-top: 30px;
  // background: rgba(255,255,255,0.4);
  transition: 0.7s all;
  z-index: 100;

  &.menu-fixed {
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 0;
    background: #fff;
    border-bottom: 1px solid #fafafa;

    .menu_item {
      @include breakpoint(large) {
        padding-top: 22px;
      }
    }
  }
}

.inner {
  padding: 0 3vw;
}

section {
  padding: 70px 0;

  .cbp-popup-content-wrap & {
    padding: 0 0 40px 0;
  } 

  @media screen and (min-width:721px) {
    padding: 150px 0;

    .cbp-popup-content-wrap & {
      padding: 100px 0;
    }
  }

  // &.services{
  //   padding-top: 100px;
  //   margin-top: 50px;
  // }

  &.odd {
    background: #fff;
  }

  &.intro {
    padding-top: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0, 0.5);
    min-height: 100vh;
    color: #fff;

    // mix-blend-mode: difference;

    @media screen and (min-width:721px) {
      padding-top: 220px;
    }
    

    // .intro-content {
    //   position: absolute;
    //   top: 50%;
    //   transform: translateY(-50%);
    // }
  }

  &.footer {
    padding-bottom: 400px;
  }

  .inner {
    padding: 50px 3vw;
    line-height: 1.5;
  }

  &.alternate {
    background: #000;
    color: #fff;
  }

  &.hero {
    // background: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg') no-repeat center;
    background: url('https://picsum.photos/1405/1053/?random') no-repeat center;
    background-size: cover;
    // background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    min-height: 100vh;
    width: 100%;
  }
}

// Soails
.social-icons {
  font-size: 30px;

  a {
    display: inline-block;
    color: #0a0a0a;
    margin-right: 10px;
  }
}

// Cube Portfolio
// ===============
.cbp-caption-zoom .cbp-caption-activeWrap {
  background-color: #75a6d9 !important;
}

#js-filters-juicy-projects2 {
  display: none;
}


.cbp-l-inline-left {
  @media screen and (min-width:721px) {
    padding-right: 30px;
  }

  @media screen and (max-width:721px) {
    margin-top: 0px;
  }
}

.cbp-l-inline-right {
  padding: 30px;
}

.cbp-l-project-subtitle {
  font-size: 18px;
  line-height: 25px;
}

.cbp-popup-singlePage {
  background: $body-background;
}

.cbp-popup-singlePageInline .cbp-popup-navigation {
  top: 20px;
  right: 20px;
}

.cbp-popup-content {
  margin-bottom: 120px;
}

.cbp-l-inline {
  @media screen and (max-width:721px) {
    padding: 0;
  }
}

.cbp-popup-singlePageInline .cbp-popup-close {
  @media screen and (max-width:721px) {
    top: 10px;
    right: 10px;
  }
}

.cbp-popup-singlePageInline .cbp-popup-navigation {
  @media screen and (max-width:721px) {
    top: 0px;
    right: 0px;
  }
}

.cbp-l-inline-view-wrap {
  @media screen and (max-width:721px) {
    float: none;
    text-align: center;
  }
}

.cbp-l-filters-button {
  @media only screen and (max-width: 480px) {
    text-align: left;
  }

  .cbp-filter-item {
    margin: 0 10px 10px 0;
  }
}


// Utility classes
.case-study-title {
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 0.8em;
  font-weight: bold;
}

.case-study-title2 {
  text-transform: uppercase;
  color: #4c4c4c;
  font-size: 1em;
  font-weight: bold;
}

.space-beneath-row {
  margin-bottom: 50px;
}

.space-beneath-row2 {
  margin-bottom: 150px;
}

.cbp-l-project-details-visit {
  float: none;
  display: inline-block;
}

.case-study-image {
  width: 100%;
  
  @include breakpoint(medium) {
    width: 200px;
  }

  @include breakpoint(large) {
    width: 300px;
  }

}


// .cbp a.cbp-caption {
//   display: block;
// }
