.c-az-list {
  @include clearfix;
  margin: 0 0 $global-margin;

  > ul {
    list-style-type: none;
  }

  &__menu,
  &__body {
    margin-left: 0;
  }

  &__menu {
    @include pagination-azlist;
  }

  &__link-list {
    margin-bottom: $global-margin;
  }
}

