$button-palette: (
  primary: get-color(primary),
  secondary: get-color(secondary),
  success: get-color(tertiary),
  warning: get-color(quaternary),
  alert: get-color(quinary)
);

.c-btn {
  @include button;
  @include disabled-buttons(get-color(primary));
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }

  &--block {
    @include button-expand(true);
  }

  // Demo size and color. To be replaced
  &--large {
    font-size: 1.25rem;
  }

  &--hollow {
    @include button-hollow;
    @include button-hollow-style($black);
    @include disabled-buttons($black, true);

    &:hover,
    &:focus {
      border-color: $dark-gray;
    }
  }

  // Colors
  @each $name, $color in $button-palette {
    &--#{$name} {
      @include button-style($color, auto, auto);
      @include disabled-buttons($color);
    }
  }
}
