// Shared title bar
@mixin title-bar(
  $padding: $titlebar-padding,
  $background: $titlebar-background,
  $color: $titlebar-color
) {
  @include clearfix;
  padding: $padding;
  background: $background;
  color: $color;


  &-left {
    float: left;
  }

  &-right {
    float: right;
    text-align: right;
  }

  &-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: $titlebar-text-font-weight;
  }

  &-menu-icon {
    font-size: 1.5rem;
    color: $white;
  }

  &-icon {
    display: inline-block;
    color: $white;
  }
}

// Reusable header menu and close button
@mixin header-menu($border-top-color: $mobile-border-top-color, $border-bottom-color: $mobile-border-bottom-color, $font-size-large: 1.2rem) {
  @include menu-base;
  @include menu-direction(vertical);
  @include anchor-colors($white, $white);

  @include breakpoint(large) {
    @include menu-direction(horizontal);
  }

  > li {
    border-top: 1px dotted $border-top-color;
    border-bottom: 1px dotted $border-bottom-color;

    @include breakpoint(large) {
      border-top: 0 !important;
      border-bottom: 0 !important;
    }
  }

  a {
    padding: $mobile-padding;
    line-height: $mobile-line-height;
    text-transform: $mobile-text-transform;
    white-space: normal;

    @include breakpoint(large) {
      padding-top: $font-size-large;
      padding-bottom: $font-size-large;
      font-size: $font-size-large;
      line-height: 1;
      text-transform: capitalize;
    }
  }

  &__submenu {
    display: none;

    &.js-dropdown-active {
      display: block;
    }

    a {
      text-transform: capitalize;
    }
  }
}

// Reusable grid for component layout
@mixin component-grid($grid-row-nest: true, $three-col-breakpoint: large, $four-col-breakpoint: large, $column-name: '__column', $two-column: medium) {
  @include clearfix;
  clear: both;

  @if $grid-row-nest {
    @include breakpoint($two-column) {
      @include grid-row-nest;
    }
  }

  &#{$column-name} {
    margin: 0 0 $global-margin;

    @include breakpoint($two-column) {

      &:last-child {
        @include grid-col-end;
      }

      &:nth-child(2n+3) {
        clear: left;
      }
    }

    @include breakpoint($two-column) {
      @include grid-column(8);

      .is-full-width & {
        @include grid-column(16);

        &:nth-child(2n+3) {
          clear: none;
        }
      }
    }

    @include breakpoint($three-col-breakpoint) {

      .has-three-columns & {
        @include grid-column(1 of 3);

        &:last-child {
          @include grid-col-end;
        }

        &:nth-child(2n+3) {
          clear: none;
        }

        &:nth-child(3n+4) {
          clear: left;
        }
      }
    }

    @include breakpoint($four-col-breakpoint) {

      .has-four-columns & {
        @include grid-column(4);

        &:last-child {
          @include grid-col-end;
        }

        &:nth-child(2n+3) {
          clear: none;
        }

        &:nth-child(4n+5) {
          clear: left;
        }
      }
    }
  }
}

// Global footer
@mixin footer-grid($anchor: false, $anchor-hover: $anchor-color-hover, $desktop-column-size: 8, $reset-column-size: 16) {
  @extend %anchor-underline-hover-only;

  ul {
    margin-left: 0;
    list-style-type: none;
  }

  @if $anchor {
    @include anchor-colors($anchor, $anchor-hover, 'li a, p a');
  }

  &__container {
    @include grid-row();
    padding-top: $global-padding;
    padding-bottom: $global-padding;
  }

  &__row {
    @include clearfix;
  }

  &__column {
    @include mobile-reset($reset-size: $reset-column-size, $custom-gutter: $base-font-size * 3.5);
    @include grid-column($desktop-column-size);
    margin: 0;
  }

  &__title {
    font-size: 1.3rem;
    line-height: $paragraph-lineheight;
  }

  &__menu {
    @include menu-base;
    @include menu-direction(vertical);
    margin: 0 0 $global-margin;

    a {
      display: inline-block;
      padding: 0;
    }

    &--copyright {
      @include menu-direction(horizontal);
      @include menu-simple($global-left, 0);
      font-size: $global-font-size * 0.9;
    }
  }

  &__social {
    @include shared-social-icon-wrapper;
  }
}

// Shared styles for pagination and A-Z list menu
@mixin pagination-azlist {
  @include pagination-container;

  > li {
    width: 1.5rem;
    margin: 0 0 $global-margin / 2;
    border: 1px solid $black;
    text-align: center;

    @include breakpoint(small only) {
      width: 2.5rem;
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        background: $black;
        color: $white;
      }
    }

    &.is-disabled {
      border: 1px solid $medium-gray;

      a {
        @include button-disabled(inherit, $medium-gray);
        opacity: 1;
      }
    }
  }
}

@mixin shared-content-layout-spacing($content-class-name: 'main-content') {
  &__container {
    @include grid-row();
  }

  &__#{$content-class-name} {
    @include mobile-reset($custom-gutter: $base-font-size * 3.5);
    padding-top: $global-padding;
    padding-bottom: $global-padding;

    @include breakpoint(large) {
      @include grid-column(16, $gutters: $base-font-size * 4);
    }
  }
}
