{{> head}}

  <body>

  <div class="o-off-canvas__wrapper">

    <div class="o-off-canvas__content" data-off-canvas-content>

      <header class="o-layout__header" id="ua-top" role="banner">
        {{> static-global-header}}
      </header>

      <div class="o-layout__container">
        <div class="o-layout__app">

{{> body}}

        </div>
      </div>

      <footer  class="o-layout__footer">
        {{> static-global-footer}}
      </footer>

    </div>
  </div>

  {{#unless header-footer-template}}
  <script src="{{root}}assets/js/vendor/jquery.min.js"></script>
  <script src="{{root}}assets/js/header-footer.js"></script>
  {{/unless}}

  {{#if header-footer-template}}
  <!-- Path to global JS for header footer template -->
  {{/if}}


  </body>
</html>
