{{> head}}

<body>

  <div class="o-off-canvas__wrapper">

    <div class="o-off-canvas__content" data-off-canvas-content>

      <header class="o-layout__header" id="ua-top" role="banner">
        {{> static-global-header}}
      </header>

      <main class="o-layout__main">

        {{#unless campaign}}
        <div class="o-layout__container">
        {{/unless}}

          {{#unless campaign}}
          <div class="o-layout__main-nav">

            {{> static-site-menu}}

          </div>
          {{/unless}}

          <article{{#unless campaign}} class="o-layout__main-content"{{/unless}} id="ua-main-content" role="main">

            {{> body}}

          </article>

        {{#unless campaign}}
        </div>
        {{/unless}}

      </main>

      <footer  class="o-layout__footer">
        {{> static-global-footer}}
      </footer>

    </div>
  </div>

  <script src="{{root}}assets/js/app.jquery.js"></script>

  </body>
</html>
