{{> head}}

<body>

  <div class="o-off-canvas__wrapper">

    <div class="o-off-canvas__content" data-off-canvas-content>

      <header class="o-layout__header" id="top" role="banner">
        {{> static-global-header}}
      </header>

      <main class="o-layout__main">

        <div class="o-layout__main-nav">
          {{> static-site-menu}}
        </div>

        <article class="o-layout__main-content" id="main-content" role="main">
          {{> body}}
        </article>

      </main>

      <footer  class="o-layout__footer">
        {{> static-global-footer}}
      </footer>

    </div>
  </div>

  <script src="{{root}}assets/js/app.jquery.js"></script>

  </body>
</html>
