<div class="inner">
  <div class="logo">
    <svg id="Layer_1" class="logo_svg" width="900px" height="768px" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 784.4 224.47">
      <defs><style>.cls-1 {fill:#75a6d9;} .cls-2 {font-size: 200px;} .cls-3 {fill:#ffffff;} .cls-4 {font-size:120px;}</style></defs>
      <title>logo3</title>
      <rect class="cls-1" width="183.47" height="183.47"/>
      <text class="cls-2" transform="translate(60 155)"><tspan class="cls-3">a</tspan>
        <tspan class="cls-4" x="150" y="0">smithdigital</tspan>
      </text>
    </svg>
  </div>
  <nav role='navigation'>
    <a class="hamburger" href="#0" title="Menu"><span>Menu</span></a>
    <ul data-magellan>
      <li><a href="#hero" class="menu_item">Home</a></li>
      <li><a href="#first" class="menu_item">Portfolio</a></li>
      <li><a href="#second" class="menu_item">About</a></li>
    </ul>
  </nav>
</div>
