<div class="row">
  <div id="js-filters-juicy-projects" class="cbp-l-filters-button cbp-l-filters-alignCenter">
    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
      All <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".ux" class="cbp-filter-item">
      UX <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".web-design" class="cbp-filter-item">
      Web Design <div class="cbp-filter-counter"></div>
    </div>
  </div>

</div>

<div id="js-grid-lightbox-gallery" class="cbp">

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/df-ux.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock<br>by Paul Flavius Nechita" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/df-ux-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">World Clock</div>
            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/family-law.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock<br>by Paul Flavius Nechita" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/family-law-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">World Clock</div>
            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/decor.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock<br>by Paul Flavius Nechita" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/decor-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">World Clock</div>
            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/seek-light.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock<br>by Paul Flavius Nechita" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/seek-light-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">World Clock</div>
            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/hand-property.html" class="cbp-caption cbp-singlePageInline" data-title="World Clock<br>by Paul Flavius Nechita" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/handy-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">World Clock</div>
            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/martyn-parry.html" class="cbp-caption cbp-singlePageInline" data-title="Bolt UI<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/martyn-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Bolt UI</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/syndeo.html" class="cbp-caption cbp-singlePageInline" data-title="WhereTO App<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/syndeo-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">WhereTO App</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/jims-plumbing.html" class="cbp-caption cbp-singlePageInline" data-title="iDevices<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/jims-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">iDevices</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/mastracorp.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/mastra-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Seemple* Music</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/yvonne.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/yvonne-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Seemple* Music</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/bass-podiatry.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/bass-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Seemple* Music</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/bcs.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/bcs-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Seemple* Music</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item  web-design">
    <a href="{{root}}assets/ajax/seg.html" class="cbp-caption cbp-singlePageInline" data-title="Seemple* Music<br>by Tiberiu Neamu" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/seg-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Seemple* Music</div>
            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>

<!--<div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button">-->
  <!--<a href="{{root}}assets/ajax/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">-->
    <!--<span class="cbp-l-loadMore-defaultText">LOAD MORE (<span class="cbp-l-loadMore-loadItems">4</span>)</span>-->
    <!--<span class="cbp-l-loadMore-loadingText">LOADING...</span>-->
    <!--<span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>-->
  <!--</a>-->
<!--</div>-->