<div class="c-video is-full-width">
  <section class="c-video__column">
    <div class="js-responsive-video-embed">
      <iframe width="560" height="320" src="//www.youtube.com/embed/TadTb5iuSDg" frameborder="0" title="YouTube Video" allowfullscreen></iframe>
    </div>
  </section>
</div>

<div class="c-video">
  {{#repeat 3}}
  <section class="c-video__column">
    <div class="js-responsive-video-embed">
      <iframe width="560" height="320" src="//www.youtube.com/embed/TadTb5iuSDg" frameborder="0" title="YouTube Video" allowfullscreen></iframe>
    </div>
  </section>
  {{/repeat}}
</div>

<div class="c-video has-three-columns">
  {{#repeat 5}}
  <section class="c-video__column">
    <div class="js-responsive-video-embed">
      <iframe width="560" height="320" src="//www.youtube.com/embed/TadTb5iuSDg" frameborder="0" title="YouTube Video" allowfullscreen></iframe>
    </div>
  </section>
  {{/repeat}}
</div>
