<div id="ua-filter-nav" class="c-filter-nav__group">
  <a class="c-filter-nav__button" data-filter="*">All</a>
  <a class="c-filter-nav__button u-filter-load-first is-checked" data-filter=".first">First</a>
  <a class="c-filter-nav__button" data-filter=".second">Second</a>
  <a class="c-filter-nav__button" data-filter=".third">Third</a>
  <a class="c-filter-nav__button" data-filter=":not(.second)">Not second</a>
  <a class="c-filter-nav__button" data-filter=".second:not(.first)">Second but not first</a>
</div>

<!-- Sort filter needs to be decided upon before it can be used. The JS functionality has been disabled -->
<!--<div id="sorts" class="c-filter-nav__group">-->
  <!--<button class="c-filter-nav__button is-checked" data-sort-by="original-order">original order</button>-->
  <!--<button class="c-filter-nav__button" data-sort-by="name">name</button>-->
  <!--<button class="c-filter-nav__button" data-sort-by="symbol">symbol</button>-->
  <!--<button class="c-filter-nav__button" data-sort-by="number">number</button>-->
  <!--<button class="c-filter-nav__button" data-sort-by="weight">weight</button>-->
  <!--<button class="c-filter-nav__button" data-sort-by="category">category</button>-->
<!--</div>-->

<div class="c-filter-nav has-four-columns">
  <div class="c-filter-nav__column second first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Second</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Second</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third first">
    <a href="#">
      <div class="c-filter-nav__content">
        <h4 class="c-filter-nav__title">Third First</h4>
      </div>
    </a>
  </div>
</div>
