<div class="row">
  <div id="js-filters-juicy-projects" class="cbp-l-filters-button cbp-l-filters-alignCenter">
    <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
      All <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".ux" class="cbp-filter-item">
      UX <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".web-design" class="cbp-filter-item">
      Web Design <div class="cbp-filter-counter"></div>
    </div>
    <div data-filter=".ecommerce" class="cbp-filter-item">
      eCommerce <div class="cbp-filter-counter"></div>
    </div>
  </div>

</div>

<div id="js-grid-lightbox-gallery" class="cbp">

  <div class="cbp-item ux web-design">
    <a href="{{root}}assets/ajax/bass-new.html" class="cbp-caption cbp-singlePageInline" data-title="Bass Coast Podiatry<br>Wordpress site" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/bass-new-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Bass Coast Podiatry</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  
  <div class="cbp-item ux web-design">
    <a href="{{root}}assets/ajax/moppahills.html" class="cbp-caption cbp-singlePageInline" data-title="MoppaHills Vineyard<br>Wordpress site" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/moppahills-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Moppahills Vineyard</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>
  
  <div class="cbp-item ux web-design">
    <a href="{{root}}assets/ajax/ua-sg.html" class="cbp-caption cbp-singlePageInline" data-title="Degree Finder UX<br>University of Adelaide" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/ua-sg-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Style guide</div>
            <div class="cbp-l-caption-desc">University of Adelaide</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item ux">
    <a href="{{root}}assets/ajax/df-ux.html" class="cbp-caption cbp-singlePageInline" data-title="Degree Finder UX<br>University of Adelaide" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/df-ux-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Degree Finder UX</div>
            <div class="cbp-l-caption-desc">University of Adelaide</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/family-law.html" class="cbp-caption cbp-singlePageInline" data-title="Family Law Mediation<br>Wordpress website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/family-law-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Family Law Mediation</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design ecommerce">
    <a href="{{root}}assets/ajax/decor.html" class="cbp-caption cbp-singlePageInline" data-title="Decor Lighting<br>Concrete 5 website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/decor-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Decor Lighting</div>
            <div class="cbp-l-caption-desc">Concrete 5 eCommerce</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/seek-light.html" class="cbp-caption cbp-singlePageInline" data-title="Seek Light Campaign<br>University of Adelaide" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/seek-light-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Seek Light Campaign</div>
            <div class="cbp-l-caption-desc">University of Adelaide</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/hand-property.html" class="cbp-caption cbp-singlePageInline" data-title="Hand Property<br>Wordpress website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/handy-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Hand Property</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/martyn-parry.html" class="cbp-caption cbp-singlePageInline" data-title="Martyn Parry Dentist<br>Wordpress website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/martyn-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Martyn Parry Dentist</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item ux">
    <a href="{{root}}assets/ajax/syndeo.html" class="cbp-caption cbp-singlePageInline" data-title="SYNDEO<br>Start up UX project" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/syndeo-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">SYNDEO</div>
            <div class="cbp-l-caption-desc">Start up UX project</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/jims-plumbing.html" class="cbp-caption cbp-singlePageInline" data-title="Jims Cleaning<br>Concrete 5 website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/jims-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Jims Cleaning</div>
            <div class="cbp-l-caption-desc">Concrete 5 website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/mastracorp.html" class="cbp-caption cbp-singlePageInline" data-title="Mastrcorp Realestate<br>Campaign website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/mastra-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Mastrcorp Realestate</div>
            <div class="cbp-l-caption-desc">Campaign website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design ecommerce">
    <a href="{{root}}assets/ajax/yvonne.html" class="cbp-caption cbp-singlePageInline" data-title="Yvonne Faye<br>Concrete 5 eCommerce" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/yvonne-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Yvonne Faye</div>
            <div class="cbp-l-caption-desc">Concrete 5 eCommerce</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/bass-podiatry.html" class="cbp-caption cbp-singlePageInline" data-title="Bass Coast Podiatry<br>Wordpress website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/bass-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Bass Coast Podiatry</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/bcs.html" class="cbp-caption cbp-singlePageInline" data-title="Belconnen Community Services<br>Wordpress website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/bcs-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">BCS</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="cbp-item web-design">
    <a href="{{root}}assets/ajax/seg.html" class="cbp-caption cbp-singlePageInline" data-title="Strategic Efficiency Group<br>Wordpress website" rel="nofollow">
      <div class="cbp-caption-defaultWrap">
        <img src="{{root}}assets/img/folio/seg-thumb.jpg" alt="">
      </div>
      <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-alignLeft">
          <div class="cbp-l-caption-body">
            <div class="cbp-l-caption-title">Strategic Efficiency Group</div>
            <div class="cbp-l-caption-desc">Wordpress website</div>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>

<!--<div id="js-loadMore-lightbox-gallery" class="cbp-l-loadMore-button">-->
  <!--<a href="{{root}}assets/ajax/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">-->
    <!--<span class="cbp-l-loadMore-defaultText">LOAD MORE (<span class="cbp-l-loadMore-loadItems">4</span>)</span>-->
    <!--<span class="cbp-l-loadMore-loadingText">LOADING...</span>-->
    <!--<span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>-->
  <!--</a>-->
<!--</div>-->